/* @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); */
/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&display=swap');

body {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: #333333;
    font-family: 'DM Sans', sans-serif;
}

.elegant-button {
    display: inline-block;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: #fff;
    background-color: #249f11;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.elegant-button:hover {
    background-color: #1a7d0a;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}

.elegant-button.secondary {
    background-color: #2a2a2a;
}

.elegant-button.secondary:hover {
    background-color: #1e1e1e;
}

.elegant-button.outlined {
    background-color: transparent;
    border: 2px solid #249f11;
    color: #249f11;
}

.elegant-button.outlined:hover {
    background-color: #249f11;
    color: #fff;
}

.elegant-button.accent {
    background-color: #ff6f00;
}

.elegant-button.accent:hover {
    background-color: #d95c00;
}

.elegant-button.icon-button {
    padding: 10px;
    border-radius: 50%;
    background-color: #249f11;
    color: #fff;
    font-size: 24px;
}

.elegant-button.icon-button:hover {
    background-color: #1a7d0a;
}

.outlined-button {
    display: inline-block;
    /* padding: 12px 24px; */
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: #249f11;
    background-color: transparent;
    border: 2px solid #249f11;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.2s;
}

.outlined-button:hover {
    background-color: #249f11;
    color: #fff;
    transform: scale(1.05);
}

.outlined-button.stroked {
    background-color: transparent;
    border: 2px solid #2a2a2a;
    color: #2a2a2a;
}

.outlined-button.stroked:hover {
    background-color: #2a2a2a;
    color: #fff;
}

.outlined-button.underline {
    position: relative;
    overflow: hidden;
}

.outlined-button.underline::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #249f11;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s;
}

.outlined-button.underline:hover::before {
    transform: scaleX(1);
}

.row-even {
    background-color: #FAFAFA;
}

.row-odd {
    background-color: #ffffff;
    /* Color blanco para filas impares */
}




input,
label,
p,
b,
textarea,
select,
checkbox {
    font-family: 'DM Sans', sans-serif;
}

p {
    color: #333333;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'DM Sans', sans-serif;

}

.bg-primaryechame {
    background-color: #249f11;
}

.text-sys {
    color: #249f11;
}

.bg-primary>div>ul>li>a {
    color: white;
}

.centered-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #ffffff;
}

.navbar-custom {
    padding: 5px;
    background-color: #249f11;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-nav .nav-link {
    color: black;
}

.navbar-custom .navbar-nav .nav-item {
    margin-right: 15px;
}

@media (max-width: 767px) {
    .navbar-custom .navbar-nav .nav-item {
        margin-right: 0;
        margin-bottom: 15px;
    }
}

.footer-custom {
    background-color: #343a40;
    color: white;
    padding: 50px 0;
}

.footer-custom a {
    color: white;
    text-decoration: none;
}

.card-custom {
    border: none;
}

.text-title {
    color: #656666;
}

.form-control.custom-focus:focus {
    box-shadow: none;
    border-color: #ced4da;
}

.card {
    padding: 20px;
    margin-bottom: 20px;
}

.card .profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.card .post-content {
    margin-top: 10px;
}

.card .post-actions {
    margin-top: 15px;
}

.card .post-date {
    font-size: 14px;
    color: #888;
}

.card .post-actions .btn {
    margin-right: 5px;
    margin-bottom: 5px;
}

.card .verification-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    margin-left: 5px;
}

.verified {
    background-color: green;
    color: white;
}

.not-verified {
    background-color: red;
    color: white;
}

.select-option:hover {
    background-color: #656666;
    color: #ffffff;
}

@media (max-width: 767.98px) {

    /* Estilos responsivos para pantallas pequeñas */
    .card .post-actions .btn {
        margin-bottom: 0;
    }
}

.btn-minimalista {
    background-color: #fff;
    color: #000;
    border: 2px solid transparent;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: background-color 0.3s ease, color 0.3s ease,
        border-color 0.3s ease;
    cursor: pointer;
    border-radius: 0;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    outline: none;
}

.btn-minimalista:hover {
    background-color: #249f11;
    color: #fff;
    border-color: #249f11;
}

.sidebar {
    background-color: white;
    color: black;
    padding: 15px;
    position: relative;
    height: 100%;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar a {
    color: black;
    text-decoration: none;
}

.sub-menu {
    display: none;
}

.sub-menu.open {
    display: block;
}

a {
    color: inherit;
    text-decoration: none;
}

/* Elimina las rayas subrayadas de los enlaces */
a:hover,
a:active {
    color: #249f11;
    /* text-decoration: none; */
}

.notification {
    background-color: #f6f7f9;
    padding: 10px;
    border: 1px solid #dddfe2;
    border-radius: 5px;
}

.notification .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.notification .content {
    display: flex;
    align-items: center;
}

.notification .message {
    font-weight: 500;
}

.notification .timestamp {
    font-size: 12px;
    color: #999;
}

/* Estilo para todos los enlaces dentro del navbar */
.navbar-custom .navbar-nav .nav-link {
    color: #fff;
    font-weight: 400;
    /* Color del texto de los enlaces */
    position: relative;
    /* Asegura que el elemento padre (.nav-link) sea un contenedor para el pseudo-elemento */
}

/* Efecto hover para el círculo de fondo blanco */
.navbar-custom .navbar-nav .nav-link::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-radius: 10px;
    background-color: #fff;
    color: #019e0f;

    opacity: 0;
    transition: width 0.3s ease, height 0.3s ease, opacity 0.3s ease;
}

.navbar-custom .navbar-nav .nav-link:hover::before {
    width: 100%;
    /* Tamaño del círculo */
    height: 80%;
    /* Tamaño del círculo */
    opacity: 0.4;
    /* Opacidad del círculo */
}

/* Cambiar el color del texto al aplicar el efecto hover */
.navbar-custom .navbar-nav .nav-link:hover {
    color: black;
    /* Color del texto al aplicar hover */
}

.chat-bubble {
    position: relative;
    background-color: #dcf8c6;
    color: #000;
    border-radius: 20px;
    padding: 10px 15px;
    max-width: 80%;
    margin-bottom: 10px;
}

.tail {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #dcf8c6;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
}

.message {
    margin: 0;
}

.rating {
    margin-bottom: 20px;
}

.stars {
    font-size: 20px;
    color: gold;
    display: inline-block;
}

/* Estilos para cambiar el color de las estrellas desactivadas */
.stars::before {
    color: lightgray;
    position: absolute;
}

.stars::after {
    content: "";
    color: gold;
    width: 0;
    overflow: hidden;
}

.fija-img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    /* Puedes usar 'cover', 'contain', 'fill', etc., según tus necesidades */
}

.imagen-contenido {
    position: relative;
    overflow: hidden;
}

.imagen {
    width: 100%;
    /* Tamaño de la imagen */
    height: 200px;
    /* Tamaño de la imagen */
    object-fit: cover;
    /* Ajustar imagen al tamaño del contenedor */
    transition: transform 0.3s ease;
}

.title-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    /* Color del fondo del título */
    color: #fff;
    /* Color del texto del título */
    padding: 10px;
    width: 100%;
    transform: translateY(100%);
    transition: transform 0.3s ease;
}

.imagen-contenido:hover .image {
    transform: scale(1.1);
    /* Efecto de escala en hover */
}

.imagen-contenido:hover .title-overlay {
    transform: translateY(0);
    /* Mostrar el título en hover */
}

.online-dot {
    width: 10px;
    height: 10px;
    background-color: #4caf50;
    /* Color verde */
    border-radius: 50%;
    /* Para hacer un círculo */
    display: inline-block;
    margin-right: 5px;
    /* Espacio entre el punto y el texto */
}

.offline-dot {
    width: 10px;
    height: 10px;
    background-color: #ff0000;
    /* Color rojo */
    border-radius: 50%;
    /* Para hacer un círculo */
    display: inline-block;
    margin-right: 5px;
    /* Espacio entre el punto y el texto */
}

.profile-image-container {
    text-align: center;
    /* Centrar la imagen horizontalmente */
    margin-bottom: 1rem;
    /* Espacio inferior */
}

.profile-image-container img {
    max-width: 400px;
    height: 120px;
    border: 10px solid #4caf50;
    /* Agregar un borde blanco */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    /* Agregar sombra */
}

.publicaciones:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.profile-image {
    width: 200px;
    height: 200spx;
    border-radius: 50%;
    object-fit: cover;
}

.fixed-column {
    background-color: #f8f9fa;
    padding: 20px;
    overflow-y: auto;
    max-height: calc(100vh - 100px);
    /* Ajusta la altura máxima según tus necesidades */
}

.scrollable-column {
    overflow-y: auto;
    padding: 20px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    /* Ajusta esto según tu diseño */
}

.publish-button {
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    border: none;
    border-radius: 25px;
    background-color: #249f11;
    color: white;
    padding: 12px 24px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s;
    display: flex;
    align-items: center;
}

.icon {
    margin-right: 10px;
}

.publish-button:hover {
    background-color: #1e7e0d;
    transform: scale(1.05);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.publish-button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(36, 159, 17, 0.3);
}

@media (max-width: 767px) {
    .fixed-column {
        position: relative;
        width: 100%;
        padding: 0;
        max-height: none;
    }

    .scrollable-column {
        overflow-y: scroll;
        max-height: 300px;
        /* Ajusta la altura máxima según tus necesidades */
    }
}

.custom-textarea {
    font-family: 'DM Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #FAFFFD;
    color: #333333;
    resize: vertical;
}

.custom-textarea::placeholder {
    color: #999999;
}

.custom-textarea:focus {
    outline: none;
    border-color: #249f11;
    box-shadow: 0 0 0 3px rgba(36, 159, 17, 0.3);
}

.custom-focus:focus {
    outline: none;
    border-color: #249f11;
    box-shadow: 0 0 0 3px rgba(36, 159, 17, 0.3);
}

.input-container {
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
}

.custom-select {
    font-family: 'DM Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #FAFFFD;
    color: #333333;
    outline: none;
}

.custom-select:focus {
    border-color: #249f11;
    box-shadow: 0 0 0 3px rgba(36, 159, 17, 0.3);
}

.custom-select:hover {
    background-color: #249f11;
    color: white;
}

.custom-select option {
    background-color: #FAFFFD;
    color: #333333;
}

.custom-select option:hover {
    background-color: #249f11;
    color: white;
}

.fixed-column {
    position: sticky;
    top: 0;
    height: 100vh;
    background-color: lightgray;
    padding: 15px;
}

.circular-image {
    width: 100px;
    height: 100px;
    border: 8px solid white;
    border-radius: 50%;
    object-fit: cover;
}

/* Estilo para el lado derecho con scroll */
.right-side {
    padding: 20px;
    overflow-y: auto;
    max-height: 500px;
}
