@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    /* font-family: 'Poppins', sans-serif; */
    background-color: #ECEEEF;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Poppins", sans-serif;
}

.bg-primaryechame {
    background-color: #249f11;
}

.bg-primary > div > ul > li > a {
    color: white;
}

.centered-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #ffffff;
}

.navbar-custom {
    padding: 40px;
    background-color: #249f11;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-nav .nav-link {
    color: white;
}

.navbar-custom .navbar-nav .nav-item {
    margin-right: 15px;
}

@media (max-width: 767px) {
    .navbar-custom .navbar-nav .nav-item {
        margin-right: 0;
        margin-bottom: 15px;
    }
}

.footer-custom {
    background-color: #343a40;
    color: white;
    padding: 50px 0;
}

.footer-custom a {
    color: white;
    text-decoration: none;
}

.card-custom {
    border: none;
}

.text-title {
    color: #656666;
}

.form-control.custom-focus:focus {
    box-shadow: none;
    border-color: #ced4da;
}

.card {
    padding: 20px;
    margin-bottom: 20px;
}

.card .profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.card .post-content {
    margin-top: 10px;
}

.card .post-actions {
    margin-top: 15px;
}

.card .post-date {
    font-size: 14px;
    color: #888;
}

.card .post-actions .btn {
    margin-right: 5px;
    margin-bottom: 5px;
}

.card .verification-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    margin-left: 5px;
}

.verified {
    background-color: green;
    color: white;
}

.not-verified {
    background-color: red;
    color: white;
}

.select-option:hover {
    background-color: #656666;
    color: #ffffff;
}

@media (max-width: 767.98px) {
    /* Estilos responsivos para pantallas pequeñas */
    .card .post-actions .btn {
        margin-bottom: 0;
    }
}

.btn-minimalista {
    background-color: #fff;
    color: #000;
    border: 2px solid transparent;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: background-color 0.3s ease, color 0.3s ease,
        border-color 0.3s ease;
    cursor: pointer;
    border-radius: 0;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    outline: none;
}

.btn-minimalista:hover {
    background-color: #249f11;
    color: #fff;
    border-color: #249f11;
}

